<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/client.html}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body layout:fragment="content">
                <section class="container bg-white">
                    <div class="row mt-4 shopping_cart">
                        <h2 class="text-center">GIỎ HÀNG</h2>
                        <table id="cart" class="table table-hover table-condensed text_center">
                            <thead>
                                <tr>
                                    <th style="width:20%">Tên sản phẩm</th>
                                    <th style="width:30%">Mô tả</th>
                                    <th style="width:10%">Giá</th>
                                    <th style="width:8%">Số lượng</th>
                                    <th style="width:20%" class="text-center">Thành tiền</th>
                                    <th style="width:12%"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="orderDetail : ${session.order.listOrderDetail}" th:object="${orderDetail.productDTO}" th:id="*{id}">
                                    <td data-th="Product" class="item_image_cart">
                                        <th:block th:each="itemImage : *{imageDTOS}" th:object="${itemImage}">
                                            <th:block th:if="*{is_preview}">
                                                <img th:src="@{/image_upload/{path}(path=*{path})}"
                                                     alt="Sản phẩm 1" class="img-responsive" width="100">
                                            </th:block>
                                        </th:block>
                                    </td>
                                    <td>
                                        <h6 class="nomargin" th:text="*{name}"></h6>
                                    </td>
                                    <td data-th="Price">
                                            <span th:text="${orderDetail.price}" th:remove="tag">
                                            </span>
                                        đ
                                    </td>
                                    <td data-th="Quantity">
                                        <input class="form-control text-center" th:value="${orderDetail.quantity}" th:onclick="changeQuantity([[${orderDetail.productDTO.id}]],this.value);" min="1" type="number">
                                    </td>
                                    <td data-th="Subtotal" class="text-center">
                                             <span th:text="${orderDetail.subTotal}" th:id="subtotal_+*{id}">
                                            </span>
                                        đ
                                    </td>
                                    <td class="actions" data-th="">
                                        <button class="btn btn-danger btn-sm" th:onclick="deleteObject([[${orderDetail.productDTO.id}]]);">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td style="text-align: left;">
                                    <a th:href="@{/index}" class="btn btn-secondary btn-nextbycart">
                                        <i class="fa fa-angle-left"></i>
                                        Tiếp tục mua hàng
                                    </a>
                                </td>
                                <td colspan="3" class="hidden-xs"></td>
                                <td class="hidden-xs text-center tong-tien">Tổng tiền:<strong th:text="${session.order.total}" id="total"></strong>đ
                                </td>
                                <td>
                                    <th:block th:if="${session.auth.getName()} == anonymousUser">
                                        <a th:href="@{/pay}" th:attr="style=${session.totalQuantity}==0 ? 'pointer-events:none' : '' "  class="btn btn-success btn-block">Thanh toán
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </th:block>
                                    <th:block th:unless="${session.auth.getName()} == anonymousUser">
                                        <a class="btn btn-success btn-block" th:attr="style=${session.totalQuantity}==0 ? 'pointer-events:none' : '' " id="pay">Thanh toán
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </th:block>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
                <script>
                    $('#pay').click(function (){
                        ConfirmPay();
                    })
                    function ConfirmPay(){
                        swal({
                            title: "Inform",
                            text: "Confirm order pay",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Oke",
                        }).then(function(isConfirm) {
                            $.ajax({
                                url: '/pay',
                                type: 'POST',
                                success: result=>{
                                    informPaySuccess();
                                },
                                error: result=>{
                                    alert(result);
                                    console.log(result);
                                }
                            });
                        });
                    };
                    function informPaySuccess(){
                        swal({
                            title: "Inform",
                            text: "Pay success",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Đóng",
                        }).then(function(isConfirm) {
                        });
                    };
                </script>
</body>
</html>